---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: "{{ ingress_name }}"
  annotations:
    kubernetes.io/ingress.class: traefik
    cert-manager.io/cluster-issuer: "{{ cert_issuer }}"
spec:
  rules:
    - host: "{{ domain }}"
      http:
        paths:
          - backend:
              serviceName: web
              servicePort: 80
            path: /
    - host: api.{{ domain }}
      http:
        paths:
          - backend:
              serviceName: content
              servicePort: 80
            path: /content
  tls:
    - hosts:
        - "{{ domain }}"
        - "*.{{ domain }}"
      secretName: "{{ domain }}"
